<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer Dashboard</title>
    <link rel="stylesheet" href="./css/volunteerpage.css">
</head>


<body>

    <header>
        <div class="header-container">
            <div class="logo">
                 <img src="soulsyncnew.png" alt="SOULSYNC Logo" onclick="redirectToHome()">

                 <script>

                    function redirectToHome() {
                        window.location.href = 'openingpage.html';
                      }
    
                 </script>

            </div>
    
            <nav class="nav-links">
                <a href="./aboutus">About Us</a>
                <a href="./contactus">Contact Us</a>
            </nav>
    
        </div>
    </header>
    

    <div class="hero">
        <h1>Welcome back CHAMP!!</h1>
        <p>"Heroes rise not from power, but from compassion; volunteers turn chaos into hope, one act of kindness at a time."</p>
        
    </div>

    <div class="navbar">
        <div class="funds">
            <a href="https://pmnrf.gov.in/en/">FUNDS</a>
        </div>
        <div>REFERAL</div>
        <div>PROFILE</div>
    </div>

    <div class="main-container">
        <div class="content-container">
            <div class="single-entity">
                <div class="left-container">
                    <ul class="message-list">
                        <li class="active">Message 1</li>
                        <li>Message 2</li>
                        <li>Message 3</li>
                        <li>Message 4</li>
                        <li>Message 5</li>
                        <li>Message 6</li>
                        <li>Message 7</li>
                        <li>Message 8</li>
                    </ul>
                </div>
                <div class="right-container">
                    <h3>Message Details</h3>
                    <p>This section will display the detailed content of the selected message from the inbox.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
